/* report start */
.vindecode-ymm {
  @apply text-3xl text-sky-500 font-bold;
}

.vindecode-ms {
  @apply text-xl text-slate-700 font-bold;
}

.rTableRow {
  @apply flex items-center;
}

.decodelabel {
  @apply font-bold mr-2;
}

.bbp-box {
  @apply shadow-md w-full rounded-lg p-3 bg-sky-50 flex flex-wrap;
}

.bbp-header {
  @apply text-2xl text-sky-700 font-bold grow w-full mb-2;
}

.bbp-badge {
  @apply mr-2;
}

.bbp-text {
  @apply mr-2 w-8/12;
}

.bbp-text a {
  @apply text-sky-500;
}

.score-section {
  @apply bg-white border rounded-lg flex-col flex items-center px-5 pb-4;
}

.score-details {
  @apply text-xs text-slate-600 bg-slate-50 p-3 rounded-md;
}

.owner-details {
  @apply text-sm text-slate-600;
}

.ownersimg {
  @apply relative;
}

.ownersimg img {
  @apply w-40;
}

.score-words p {
  @apply font-bold text-xl text-sky-700 mb-2;
}

.score-dial {
  @apply w-80 relative;
}

.score-details {
  @apply relative text-center mt-4;
}

.scores {
  @apply absolute font-bold text-4xl bottom-12 pb-1 left-0 right-0 mx-auto text-center text-white;
}

.low-score {
  @apply absolute font-bold text-2xl bottom-8 left-5;
}

.high-score {
  @apply absolute font-bold text-2xl bottom-8 right-5;
}

.icons {
  @apply w-5 mr-2;
}

.icon-section {
  @apply border-0;
}

.numOwnersText {
  @apply font-bold text-lg text-yellow-400;
}

.calcOwnersPlacment {
  @apply font-bold absolute text-xs right-0;
}

.owner-boxes .row {
  @apply grid grid-cols-3 gap-3;
}

.timeline-arrow,
.previousOwner-circle,
.lastOwner-circle,
.currentOwner-circle,
.col-11.d-sm-none.uses {
  @apply hidden;
}

.owner-box-width {
  @apply border rounded-lg p-3 bg-slate-50;
}

.owner-header {
  @apply font-bold text-lg text-sky-700 border-b-2 border-sky-100 mb-2 pb-2;
}

.card-img-top {
  @apply h-16;
}

.headerIcon-use {
  @apply w-5 mr-1;
}

.vehicle-use-flag {
  @apply font-bold text-sky-800;
}

.vehicle-use {
  @apply flex;
}

.titleBrandTopSection .row,
.section-divider,
.summary-header-section,
.accidentTopSection .row,
.damageTopSection .row,
.odometer-sub-print {
  @apply flex items-center;
}

.section-divider-streach {
  @apply m-0;
}

.section-divider-print {
  @apply bg-sky-500 px-3 py-2 rounded-lg text-white;
}

.headerIcon {
  @apply w-8 mr-3;
}

.rTableHeading,
.rTableRow {
  @apply grid grid-cols-2;
}

.rTableHeading {
  @apply mb-2 font-bold;
}

.rTableRow {
  @apply border-y py-2 border-slate-100;
}

.section-divider-text {
  @apply font-bold text-xl;
}

.summary-header-section {
  @apply w-10/12;
}

.icon_on_section {
  @apply w-8 mr-2;
}

.rTableCell img {
  @apply w-4 mx-auto;
}

.rs .rTableCell img {
  @apply w-5 ml-0 mr-4;
}

.summarySubText {
  @apply text-xs;
}

.rs .rTableRow {
  @apply flex;
}

.rTableCell img {
  @apply w-4 mx-auto;
}

.accident-img {
  @apply w-2/12;
}

.accident-img img {
  @apply w-full;
}

.odometer_subHeaderIcon {
  @apply w-4 mr-2;
}

.odometer-sub-print {
  @apply mb-2;
}

.odometerCheckTable .rTableHeading,
.odometerCheckTable .rTableRow {
  @apply grid grid-cols-4 text-center;
}

.historyTable .rTableHeading,
.historyTable .rTableRow {
  @apply grid grid-cols-5 text-center text-sm;
}

.state-title-brand-img img {
  @apply w-24;
}

.veh-info .rTableRow {
  @apply p-0 border-0;
}

.veh-info {
  @apply w-10/12;
}

/* report end */



.faq {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;
}

.faq__title {
  margin: 0;
  padding-bottom: 25px;
  color: #1d1e35;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

.font-weight-bold {
  font-weight: 600;
}

.faq__question {
  width: 100%;
  border-bottom: 1px solid #e7e7e9;
}

.faq__question-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}

.faq__question-button::after {
  content: url(../public/icon-arrow-down.svg);
  margin-right: 17px;
  transform: rotate(90deg);
}

.faq__question-button:hover {
  color: #f47c57;
}

.faq__desc {
  padding-right: 17px;
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: all 200ms ease-out;
  font-size: 12px;
  line-height: 18px;
}

.faq__desc.show-description {
  height: 5.5rem;
  margin-bottom: 15px;

}

/* Arrows */

/* closed */
.faq__question-button::after {
  transition: transform 300ms ease-out;
}

/* open */
.font-weight-bold::after {
  transform: rotate(720deg);
}

.navbar {
  transition: all 0.5s;
  top: -500px;
}

.body-fix {
  padding-top: 73px;
}

.details span {
  font-weight: bold;
}

.scroll {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  opacity: 0.98;
  transition: all 0.5s;
}

.scroll .dealer {
  display: none;
  transition: all 0.5s;
}

.padding-print {
  padding-left: 8rem;
  padding-right: 8rem;
}

.report-mobile {
  min-width: 1000px;
  padding: 10px;
}

 /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


@media screen and (max-width: 500px) {
  .rTableRow {}

  .owner-boxes .row {
    display: block;
  }

  .vindecode-ymm {
    font-size: 20px;
  }

  .vindecode-ms.mb-0 {
    margin-bottom: 10px;
    font-size: 16px;

  }

  .vindecode.boxshadow {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
  }

  .rdate {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
  }

  #__next>div>div.w-full>div:nth-child(6) {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }

  .veh-info.rTable,
  .vindecode-ms {
    margin: 0;
  }

  .damageTopSection .row,
  .accidentTopSection .row,
  .accidentTopSection .row div,
  .damageTopSection .row div,
  .titleBrandTopSection .row div,
  .titleBrandTopSection .row,
  .otherTitleBrandTopSection .row div,
  .otherTitleBrandTopSection .row,
  .odometerTopSection .row div,
  .odometerTopSection .row,
  .recallTopSection .row div,
  .recallTopSection .row {
    display: block;
    margin: 0 auto;
  }

  .headerIcon {
    margin: 10px auto;
    width: 40px;
  }

  .accident-img {
    width: 200px;
    margin: 10px auto !important;
  }

  .veh-info.rTable {
    margin: 0;
    width: 100%;
  }

  .section-divider img {
    display: inline;
  }

  .section-divider h2 {
    display: inline;
  }

  .glossaryTable .rTableRow {
    display: block;
  }

  .historyTable .rTableRow {
    display: block;
    text-align: left;
  }

  .historyTable .rTableHeading {
    display: none;
  }

  .historyTable div.rTableBody>div>div:nth-child(1)>span::before {
    content: "Event Date: ";
    font-weight: bold;
  }

  .historyTable div.rTableBody>div>div:nth-child(2)>span::before {
    content: "Location: ";
    font-weight: bold;
  }

  .historyTable div.rTableBody>div>div:nth-child(3)>span::before {
    content: "Odometer Reading: ";
    font-weight: bold;
  }

  .historyTable div.rTableBody>div>div:nth-child(4)>span::before {
    content: "Data Source: ";
    font-weight: bold;
  }

  .historyTable div.rTableBody>div>div:nth-child(5)>span::before {
    content: "Details: ";
    font-weight: bold;
  }

}

@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }

  .padding-print {
    padding-left: 20px;
    padding-right: 0;
  }

  * {
    -webkit-print-color-adjust: exact;
  }
}

.min-width-250{
  min-width: 250px!important;
}